html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

html{height:100%}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}


body{
    font-family: 'Open Sans';
}
.wrapepr{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1138px;
    margin: 0 auto;
}
.title__text{
    opacity: 0.94;
    font-size: 50px;
    line-height: 45px;
    font-weight: 600;
    color: #fc6744;
}
.title{
    font-size: 50px;
    line-height: 45px;
    font-weight: 600;
    color: #626262;
}
.text{
    opacity: 0.65;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
    
}


.header{
    background-color: #f5f5f5;
    display: flex;

}
.header__nav{
    margin:80px 0 145px 0;
    display: flex;
    justify-content: space-between;
}
.logo__letter{
    opacity: 0.7;
    font-size: 37.8px;
    line-height: 34px;
    font-weight: 600;
    color: #fc6744;
}
.logo__text{
    opacity: 0.7;
    font-size: 37.8px;
    line-height: 34px;
    font-weight: 600;
    color: #000000;
    padding-top: 11px;
}
.header__logo{
    text-align: center;
    width: 149px;
    height: 55px;
    border: 3.6px solid #170f1c;
    border-radius: 2px;
}
.header__menu{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.menu__item{
    width: 34px;
    height: 4px;
    opacity: 0.6;
    background-color: #170f1c;
    border-radius: 1.5px;
    margin: 2px 0;
}
.header__hi{
    text-align: center;
}
.header__title{
    margin: 0 0 25px 0 ;
}
.header__text p{
   margin: 10px 219px 0 219px;
   margin-top: 10px;
}
.header__form{
    margin-top: 110px;
}
.header__form form{
    width: 372px;
    height: 388px;
    background-color: #ffffff;
    box-shadow: 0px 0px 57px 0px rgba(20,20,21,0.2);
    border-radius: 2px;
    display: flex;
    flex-direction:column ;
    align-items: center;
   
}
legend{
    margin: 20px 0 0 0;
    text-align: center;
    opacity: 0.9;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #211a18;
}
.form__header{
    font-weight: 600;
    color: #ff5c36;
}
.header__form form input{
    border: 0;
    font-family: 'Open Sans';
    width: 294px;
    opacity: 0.6;
    border-bottom: 1px solid #000000;
    margin-top: 35px; 
}
.header__form form textarea{
    margin-top: 35px; 
    font-family: 'Open Sans';
    width: 294px;
    border: 0;
    resize: none;
    border-bottom: 1px solid #000000;
    opacity: 0.6;
    height: 85px;

}

.header__form button{
    width: 240px;
    height: 57px;
    background-color: #ff5c36;
    border: 1px solid rgba(1,2,2,0.06);
    box-shadow: 2px 11px 20px -1px rgba(20,20,21,0.07);
    border-radius: 27px;
    margin-top: 20px;
}
.form__button{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}
.form__button span{
    width: 17px;
    height: 10px;
    opacity: 0.74;
}



.processbox{
    background-color: #ffffff;
}
.processbox__welcometext{
    margin: 110px 0;
}
.processbox__title{
    text-align: center;
}
.processbox__text p{
    text-align: center;
    margin-top: 10px;

}
.processbox__colum{
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
}
.processbox__processlist{
    width: 262px;
    height: 263px;
}
.processbox__img{
    text-align: center;
    margin-top: 50px;

}
.processbox__text{
    opacity: 0.74;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.processbox__titleinfo{
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    opacity: 0.9;
}
.processbox__textinfo p{
    overflow: hidden;
    text-overflow: ellipsis;
}
.processbox__textinfo{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-align: center;
    opacity: 0.65;
    margin: 0 45px 0 45px;
    
}
.processbox__button{
    font-family: 'Open Sans';
    text-align: center;
    position: relative;
    top: 20px;
    left: 0px;
    
}
.processbox__button button{
    width: 228px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0px rgba(20,20,21,0.05);
    border-radius: 27px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
}
.list1{
    background-color: #4eb2f7 ;
}
.list2{
    background-color: #c049f8;
}
.list3{
    background-color: #817eff;
}
.list4{
    background-color: #f74770;
}



.featuredbox{
    background-color: #fbfbfb;
    margin-bottom: 175px;
}
.featuredbox__welcometext{
    margin: 110px 0;
}
.featuredbox__title{
    text-align: center;
}
.featuredbox__text{
text-align: center;
}
.featuredbox__row{
    display: flex;
    flex-wrap: wrap; 

}
.featuredbox__content{
    width: 360px;
    height: 358px;
    flex-basis: 33.333333%;
    margin: 10px 0; 
}



.servicesbox{
    display: flex;
    border-color:#ffffff;
    margin: 145px 0 205px 0;
}
.servicesbox__welcometext{
    text-align: center;
    margin: 0 0 130px 0 ;
}

.servicesbox__text p{
    margin-top: 10px;
}
.servicesbox__row{
    display: flex;

}
.servicesbox__tabs{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    width: 104px;
    height: 92px;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 1px 0px rgba(20,20,21,0.14);
    border-radius: 2px;
}
.active{
    background-color: #ffffff;
}
.servicesbox__description{
 margin: 0 80px 0 127px;
}
.description__title{
    opacity: 0.74;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    color: #000000;
}
.description__line{
    width: 57px;
    height: 3px;
    background-color: #ff5c36;
}
.description__text p{
    opacity: 0.7;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
}
.description__button{
    margin-top: 40px;
}
.description__button button{
    width: 240px;
    height: 57px;
    background-color: #ffffff;
    border: 1px solid rgba(1,2,2,0.06);
    box-shadow: 2px 11px 20px -1px rgba(20,20,21,0.07);
    border-radius: 27px;
}
.servicesbox__oclock{
    width: 361px;
    height: 403px;
}



.teambox{
    background-color: #fbfbfb;
    height: 964px;
}
.teambox__welcometext{
    text-align: center;
    margin: 140px 0 125px 0;
}
.teambox__text{
    margin-top: 10px;
}
.teambox__colum{
    display: flex;
    justify-content: space-between;
}
.teambox__profile{
    width: 360px;
    height: 445px;
}
.profile1{
    background-color: #ff5c36;
    box-shadow: 0px 0px 2px 0px rgba(20,20,21,0.6);
}
.profile2{
    background-color: #fff3f0;
    box-shadow: 0px 0px 49px 0px rgba(20,20,21,0.1);
}
.teambox__name{
    position: relative;
    top: 400px;
    left: 50px;
    width: 262px;
    height: 95px;
    background-color: #ffffff;
    box-shadow: 1px 6px 16px 0px rgba(20,20,21,0.07);
    border-radius: 2px;
    text-align: center;
}
.name__item{
    opacity: 0.7;
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    color: #000000;
}
.name__position{
    opacity: 0.7;
    font-size: 15.7px;
    line-height: 47px;
    font-weight: 300;
    color: #000000;
}
.teambox__nameprofile2{
    position: relative;
    top: 50px;
    text-align: center;
    
}

.nameprofile2__item{
    opacity: 0.85;
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    color: #202020;
}
.nameprofile2__position{
    opacity: 0.9;
    font-size: 16.7px;
    line-height: 47px;
    font-weight: 300;
    color: #ff724c;
}
.nameprofile2__socialnetwork{
    opacity: 0.3;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #fff3f0;
}
.teambox__skils{
    text-align: center;
    margin-top: 170px; ;
}
.teambox__design{
    margin-bottom: 10px;
}
.design__title{
   
    font-size: 10.9px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
}
.design__line{
    margin: 0 auto;
    width: 151px;
    height: 4px;
    background: linear-gradient(to right, #ff6e47 81%, #817f7e 19%);
    border-radius: 1.5px;
}
.teambox__engl{
    margin-bottom: 10px;
}
.engl__title{
  
    font-size: 10.9px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
}
.engl__line{
    margin: 0 auto;
    width: 151px;
    height: 4px;
    background: linear-gradient(to right, #ff6e47 72%, #817f7e 28%);
    border-radius: 1.5px;
}
.teambox__communication{
    margin-bottom: 10px;
}
.communication__title{
    font-size: 10.9px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
}
.communication__line{
    margin: 0 auto;
    width: 151px;
    height: 4px;
    background: linear-gradient(to right, #ff6e47 78%, #817f7e 22%);
    border-radius: 1.5px;
}



.clients{
    margin: 138px 0 145px ;
}
.clients__welcometext{
    text-align: center;
}
.clients__text{
    margin-top: 10px;
}
.clients__colum{
    display: flex;
    justify-content: space-around;
    margin: 140px 0 0 0  ;
}
.clients__leftarrow{
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 1px 3px 14px 0px rgba(20,20,21,0.07);
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    left: 45px;
    margin-top: 120px;
    
}
.clients__rightarrow{
    width: 48px;
    height: 48px;
    background-color: #ff6e47;
    box-shadow: 1px 3px 14px 0px rgba(20,20,21,0.28);
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    right: 45px;
    margin-top: 120px;
}
.clients__review{
    width: 537px;
    height: 271px;
    background-color: #ffffff;
    box-shadow: 0px 0px 27px 0px rgba(20,20,21,0.09);
    border-radius: 1px;
    margin: 0 35px;
    
}
.review__img{
    position: relative;
    bottom: 47.5px;
    margin-left: 175px;
}
.review__text{
    opacity: 0.7;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #000000;
    margin: 0 45px 20px 45px;
}
.review__clientname{
    font-family: 'Source Sans Pro - It';
    font-weight: 400;
    text-align: center;
}
.review__name{
    opacity: 0.8;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}
.review__rating{
    display: inline-block;
	font-size: 0;
    margin: 0 0 20px 180px;
   
}
.review__rating span{
    padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
    
}
.review__rating > span:before{
    content: '★';
}
.review__rating > span.rating__active{
    color: gold;
}
.clients__paragraph{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.paragraph1{
    width: 18px;
    height: 6px;
    background-color: #ff6e47;
    border-radius: 2.5px;
    margin: 0 5px;
}
.paragraph2{
    width: 18px;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 2.5px;
    margin: 0 5px;
}
.paragraph3{
    width: 18px;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 2.5px;
    margin: 0 5px;
}



.contact{
    background-color: #fbfbfb;
}
.contact__socialnetwork{
    margin: 75px 0 80px 0;
    display: flex;
}
.contact__socialnetwork img{
    width: 134px;
    height: 33px;
    opacity: 0.2;
    margin: 0 20px 0 40px;
}