.footer{
    text-align: center;
    background-color: #f7f7f7;
 
}
.footer__row{
    display: flex;
    flex-direction: column;
}
.footer_contactus button{
    width: 240px;
    height: 57px;
    background-color: #fdfdfd;
    border: 1px solid rgba(1,2,2,0.06);
    box-shadow: 2px 11px 20px -1px rgba(20,20,21,0.07);
    border-radius: 27px;
    margin-top: 40px;
}
.footer__socialnetworkcontact{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin: 40px 0 50px 0 ;
}
.socialnetworkcontact__item{
    margin: 0 8px;
    border-radius: 50%;
    width: 54px;
    height: 52px;
    background-color: #d3d3d3;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.footer__text{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 0.6;
    font-size: 17px;
    line-height: 45px;
    font-weight: 400;
    color: #040404;
    margin-left: 18px;
}