.contact{
    background-color: #fbfbfb;
}
.contact__socialnetwork{
    margin: 75px 0 80px 0;
    display: flex;
}
.contact__socialnetwork img{
    width: 134px;
    height: 33px;
    opacity: 0.2;
    margin: 0 20px 0 40px;
}